:root {
  --vp-doc-padding: 3vw;
}

.page-nav .next-link {
  display: none;
}

.page-nav .prev-link {
  display: none;
}

.page-nav .prev, .page-nav .next {
  font-size: 14px;
  max-width: 140px;
  text-align: center;
}

.go-to-top[data-v-4ead8f6c] {
  color #5c6ac4;
}

.go-to-top[data-v-4ead8f6c]:hover {
  color #7c87cf
}